nav {
    width: 100%;
    height: 20px;
    background-color: #964B00;
    color: white;
    padding: 10px 0;
    text-align: left;

    a {
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-decoration: none;
        margin: 0 15px;
        font-weight: bold;
    }
}